In [11]:
import pandas as pd
data_books =pd.read_csv("C:/Users/srrml/Desktop/ML assignments/Lab02-srishti7103/data-scraping-using-scrapy-and-data-preprocessing-srishti7103/assignment1_scraper/books.csv")
print("Dataset books:\n",data_books.head())

data_books.rename(columns={
    'available_stocks': 'Books Available',
    'image_url': 'Image URL',
    'price': 'Price',
    'rating': 'Rating',
    'title': 'Title',
}, inplace=True)

print("Dataset books:\n",data_books.head())

data_books.drop(columns = ['Books Available'], inplace=True)

data_books.head()

data_books = data_books[['Title','Price','Rating','Image URL']]

data_books.head()

print("Dataset Information :\n",data_books.info)

print("Dataset stats :\n", data_books.describe())

data_books.head()

data_books.isnull()

data_books.isna().sum()

data_books.columns = data_books.columns.str.strip()
data_books = data_books.applymap(lambda x: x.strip() if isinstance(x, str) else x)

data_books['Price'] = data_books['Price'].str.replace('£', '', regex=False).astype(float)

rating_map = {
    'One': 1,
    'Two': 2,
    'Three': 3,
    'Four': 4,
    'Five': 5
}
data_books['Rating'] = data_books['Rating'].map(rating_map)
data_books.head()
data_books.describe()
data_books.describe

data_books.drop_duplicates(inplace=True)
data_books.dropna(inplace=True)
data_books.reset_index(drop=True, inplace=True)
data_books.head()
data_books.describe()
data_books.isnull().sum()
data_books.info

data_books.to_csv("books_cleaned_data.csv", index=False)

print("Books Shape:", data_books.shape)

Dataset books:
   available_stocks                                          image_url   price  \
0         In stock  media/cache/2c/da/2cdad67c44b002e7ead0cc35693c...  £51.77
1         In stock  media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f...  £53.74
2         In stock  media/cache/3e/ef/3eef99c9d9adef34639f51066202...  £50.10
3         In stock  media/cache/32/51/3251cf3a3412f53f339e42cac213...  £47.82
4         In stock  media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c...  £54.23

  rating                                  title
0  Three                   A Light in the Attic
1    One                     Tipping the Velvet
2    One                             Soumission
3   Four                          Sharp Objects
4   Five  Sapiens: A Brief History of Humankind
Dataset books:
   Books Available                                          Image URL   Price  \
0        In stock  media/cache/2c/da/2cdad67c44b002e7ead0cc35693c...  £51.77
1        In stock  media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f...  £53.74
2        In stock  media/cache/3e/ef/3eef99c9d9adef34639f51066202...  £50.10
3        In stock  media/cache/32/51/3251cf3a3412f53f339e42cac213...  £47.82
4        In stock  media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c...  £54.23

  Rating                                  Title
0  Three                   A Light in the Attic
1    One                     Tipping the Velvet
2    One                             Soumission
3   Four                          Sharp Objects
4   Five  Sapiens: A Brief History of Humankind
Dataset Information :
 <bound method DataFrame.info of                                                  Title   Price Rating  \
0                                 A Light in the Attic  £51.77  Three
1                                   Tipping the Velvet  £53.74    One
2                                           Soumission  £50.10    One
3                                        Sharp Objects  £47.82   Four
4                Sapiens: A Brief History of Humankind  £54.23   Five
..                                                 ...     ...    ...
995  Alice in Wonderland (Alice's Adventures in Won...  £55.53    One
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  £57.06   Four
997  A Spy's Devotion (The Regency Spies of London #1)  £16.97   Five
998                1st to Die (Women's Murder Club #1)  £53.98    One
999                 1,000 Places to See Before You Die  £26.08   Five

                                             Image URL
0    media/cache/2c/da/2cdad67c44b002e7ead0cc35693c...
1    media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f...
2    media/cache/3e/ef/3eef99c9d9adef34639f51066202...
3    media/cache/32/51/3251cf3a3412f53f339e42cac213...
4    media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c...
..                                                 ...
995  ../media/cache/96/ee/96ee77d71a31b7694dac6855f...
996  ../media/cache/09/7c/097cb5ecc6fb3fbe1690cf0cb...
997  ../media/cache/1b/5f/1b5ff86f3c75e51e24c573d3f...
998  ../media/cache/2b/41/2b4161c5b72a4ae386b644682...
999  ../media/cache/d7/0f/d70f7edd92705c45a82118c3f...

[1000 rows x 4 columns]>
Dataset stats :
                          Title   Price Rating  \
count                     1000    1000   1000
unique                     999     903      5
top     The Star-Touched Queen  £44.18    One
freq                         2       3    226

                                                Image URL
count                                                1000
unique                                               1000
top     ../media/cache/d7/0f/d70f7edd92705c45a82118c3f...
freq                                                    1
Books Shape: (1000, 4)

C:\Users\srrml\AppData\Local\Temp\ipykernel_16312\896981005.py:34: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data_books = data_books.applymap(lambda x: x.strip() if isinstance(x, str) else x)